@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #1c008c;
  --body-color: #f5f5f5;
  --secondary-color: #2ecc71;
  --text-color: #333333;
  --bg-primary-color: #fafafa;
  --bg-secondary-color: #148ed5;
}

body {
  background: var(--body-color);
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 0px 0px 13px 13px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: slideDown 0.8s forwards;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-logo img {
  width: 60px;
  transition: filter 0.3s ease;
}

.header-logo img:hover {
  filter: blur(1.2px) brightness(105%);
}

section {
  position: absolute;
  top: 20;
  display: flex;
  width: 100%;
  height: 91.1vh;
  padding: 10px;
  gap: 10px;
  transition: opacity 0.3s ease;
}

.reserved-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: slideLeft 0.6s forwards;
}

.reserved-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px #a5a5a5 solid;
}

.list-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  margin-top: 12px;
}

.list-group a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px #a5a5a5 solid;
  transition: transform 0.3s ease;
}

.list-group span {
  margin-left: 20px;
}

.list-group svg {
  width: 30px;
  height: 30px;
}

.list-group a:hover {
  transform: translateX(5px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 100%;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  animation: slideRight 0.6s forwards;
}

.sidebar-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 10px;
}

.user-profile img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  margin-bottom: 5px;
  border: 2px #0b0035 solid;
}

.user-profile img:hover {
  filter: brightness(70%);
  transition: 0.3s ease;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2px;
}
.sidebar-button {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  gap: 14px;
}

.sidebar-button button:hover {
  background-color: #140b36;
  transition: 0.3s ease;
}

.action-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background: transparent;
  border: 1px #0a0030 solid;
  color: #fff;
  border-radius: 14px;
  overflow: hidden;
}

.action-button .corner-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
}

.action-button .center-text {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
  height: 100%;
  gap: 10px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary-color);
  width: 100%;
  height: 200px;
  border-radius: 10px;
  gap: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px #a5a5a5 solid;
  border-radius: 8px;
}

.cards:nth-child(1) {
  background-color: red;
  animation: cardSlide 0.8s forwards;
}

.cards:nth-child(2) {
  background-color: green;
  animation: cardSlide 1s forwards;
}

.cards:nth-child(3) {
  background-color: yellow;
  animation: cardSlide 1.2s forwards;
}

.cards:nth-child(4) {
  background-color: purple;
  animation: cardSlide 1.4s forwards;
}

.parking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  gap: 10px;
}

.parking-container,
.cards-container {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.parking-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  border: 1px #a5a5a5 solid;
  border-radius: 10px;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  border: 1px #a5a5a5 solid;
  border-radius: 10px;
}

.parking-overview {
  display: flex;
  flex-direction: column;
  width: 72%;
  height: 100.8%;
}

.slot-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
}

.slot-overview-header {
  display: flex;
  margin-right: auto;
  margin-bottom: 60px;
}

.overview-container {
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #2c2c2c 1px solid;
  width: 90%;
  height: 100%;
}

.row {
  gap: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.row-section {
  display: flex;
}

.row-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border-right: 1px #2c2c2c solid;
  border-left: 1px #2c2c2c solid;
}

.slot {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: #a5a5a5 2px solid;
  border-radius: 5px;
}

.slot.occupied {
  border-color: rgb(83, 83, 156);
  background-color: rgb(151, 151, 253);
}

.row-box .slot {
  width: 16%;
  height: 46%;
}

.floor {
  display: none;
}

.floor.active {
  display: flex;
}

.pagination {
  display: flex;
  background-color: #fff;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100%;
  background-color: #f0f0f0;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.pagination button:hover {
  background-color: #d6d6d6;
  transition: 0.3s ease;
}

.floor-indicator {
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold;
  user-select: none;
}

.overview-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.overview-cta button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #7e73aa dashed;
  width: 100%;
  height: 100%;
  background-color: #c7bdf1;
  border-radius: 18px;
  color: #201c34;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 10px;
  line-height: 1.2rem;
}

.overview-cta p {
  font-size: 0.8rem;
}

.overview-cta button:hover {
  border: 2px #625888 dashed;
  background-color: #9f97c0;
  color: #554f74;
  transition: 0.3s ease-in-out;
}
footer {
  position: sticky;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  gap: 20px;
  animation: slideUp 0.8s forwards;
}

.footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  background-color: #333333;
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer button:hover {
  background-color: #332929;
  transform: translateY(-5px);
}

/* Animations */

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cardSlide {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
